.user-name
	ユーザー名
	%i.fa.fa-cog
	%i.fa.fa-pencil-square-o
.group-name
	%ul.group_lists-messages
		%li
			%p.group_list
				グループ１
			%p.group_message
				まだメッセージは
		%li
			%p.group_list
				グループ２
			%p.group_message
				まだメッセージは
		%li
			%p.group_list
				グループ３
			%p.group_message
				まだメッセージは

