.chat_group-member
	%p.chat_group
		sampleグループ
	%p.chat_member
		member: aaaa , bbbb

.chat-post
	%ul.post
		%li
			%p.post-name
				aaaa
			%p.post-time
				2018/12/24
			%p.post-message
				sample
		%li
			%p.post-name
				aaaa
			%p.post-time
				2018/12/24
			%p.post-message
				sample

.submitform
	%i.fa.fa-image
	.submitform-button
		send