.side-bar
	.header
		%h3.header	
			ユーザー名aaaaaaa
			.icon
				%i.fa.fa-cog
				%i.fa.fa-pencil-square-o
	.groups
		%ul.groups_name-messages
			%li
				%p.group_name
					グループ１
				%p.group_message
					まだメッセージは
			%li
				%p.group_name
					グループ２
				%p.group_message
					まだメッセージは
			%li
				%p.group_name
					グループ３
				%p.group_message
					まだメッセージは
